@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: rgb(0, 0, 0);
}

body {
  font-size: 100%;
  line-height: 1;
  font-family: "Helvetica";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Helvetica";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

::-moz-selection {
  background: rgb(16, 187, 187);
  color: rgb(0, 0, 0);
}

::selection {
  background: rgb(16, 187, 187);
  color: rgb(0, 0, 0);
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 67, 72);
  color: rgb(255, 255, 255);
}

.resume-block__basic-info {
  margin-top: 1.25rem;
}

@media (min-width: 34.375em) {
  .resume-block__contact-info {
    margin-bottom: 1.25rem;
  }
  .resume-block__basic-info {
    margin-top: 1.875rem;
  }
}
.main-container {
  padding: 0 0.938rem;
}

@media (min-width: 34.375em) {
  .main-container {
    padding: 0 1.875rem;
    max-width: 56.25rem;
  }
}
.main-content {
  max-width: 56.25rem;
  background-color: rgb(11, 29, 38);
  transition: all 0.4s ease 0s;
}

.main-content__m {
  margin: 3.125rem auto;
  padding: 2rem 0px;
}

.main-content:hover {
  transition: all 0.4s ease 0s;
  box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 53.125em) {
  .main-content {
    max-width: 43.75rem;
  }
  .main-content__m {
    margin: 1.875rem auto;
  }
}
@media (max-width: 48.0625em) {
  .main-content__m {
    margin: 0px auto;
  }
}
@media (max-width: 34.375em) {
  .main-content__m {
    padding: 0.938rem 0px;
  }
}
hr {
  border: none;
  background-color: rgb(0, 0, 0);
  height: 3px;
}

.contact-info {
  display: flex;
}

.contact-info__author {
  padding-left: 2rem;
  flex-direction: column;
  align-self: center;
}

@media (max-width: 64em) {
  .contact-info__author {
    overflow: hidden;
    padding-left: 1.875rem;
  }
}
@media (max-width: 34.375em) {
  .contact-info__communication-block {
    flex-direction: column;
  }
}
.contact-info__communication-block {
  display: flex;
  justify-content: space-between;
}

.contact-info__header {
  background: rgb(233, 144, 10);
  color: rgb(0, 0, 0);
  margin-bottom: 0.938rem;
  font-weight: 700;
  font-size: 2rem;
}

.contact-info__sub-header {
  max-width: 18.75rem;
  background: rgb(16, 187, 187);
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  margin-bottom: 1.25rem;
}

.contact-info__avatar {
  align-self: center;
  display: inline-block;
  border-radius: 10%;
  max-width: 12.625rem;
  max-height: 13rem;
  transition: all 0.3s ease 0s;
}

.contact-info__avatar:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.07);
}

@media (max-width: 53.125em) {
  .contact-info {
    flex-direction: column;
  }
  .contact-info__author {
    order: -1;
    padding-left: 0px;
  }
  .contact-info__avatar {
    display: none;
  }
}
@media (max-width: 34.375em) {
  .contact-info__avatar {
    display: none;
  }
  .contact-info__sub-header {
    margin-bottom: 2rem;
  }
  .contact-info__author {
    margin-bottom: 2rem;
  }
}
.communication-block__column:not(:last-child) {
  padding-right: 3.125rem;
}

@media (max-width: 34.375em) {
  .communication-block__column:not(:last-child) {
    padding-bottom: 0.625rem;
  }
}
.communication-block__item {
  text-decoration: none;
  display: flex;
  justify-content: start;
  word-break: break-all;
}

.communication-block__item-effect {
  transition: all 0.3s ease 0s;
  color: inherit;
}

.communication-block__item-effect:hover {
  transition: all 0.3s ease 0s;
  text-decoration: underline;
  color: rgb(0, 212, 212);
}

.communication-block__item span {
  align-self: center;
}

.communication-block__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.communication-block__item-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 0.625rem;
  width: 1.25rem;
}

.focused-link:focus {
  color: rgb(61, 222, 251);
  outline: 1px solid rgb(61, 222, 251);
  outline-offset: 0.2rem;
  box-shadow: 5px 5px 50px 0px rgb(61, 222, 251);
  border-radius: 0.4rem;
}

.basic-info {
  display: flex;
  justify-content: space-between;
}

.basic-info__left-side {
  display: flex;
  flex-direction: column;
  padding-right: 0.625rem;
}

.basic-info__right-side {
  display: flex;
  flex-direction: column;
  padding-left: 0.625rem;
}

@media (max-width: 34.375em) {
  .basic-info {
    flex-direction: column;
  }
  .basic-info__left-side {
    padding: 0;
  }
  .basic-info__right-side {
    padding: 0;
  }
}
.vl {
  border-left: 0.188rem solid rgb(0, 0, 0);
  min-height: 100%;
}

@media (max-width: 34.375em) {
  .vl {
    display: none;
  }
}
.about-section {
  font-size: 1.2rem;
}

.about-section__m {
  margin-top: 1.25rem;
}

.skills-section {
  display: flex;
  flex-direction: column;
}

.skills-section__m {
  margin-bottom: 1.875rem;
}

.skills-section__header {
  font-size: 1.3rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 53.125em) {
  .skills-section__header {
    margin-bottom: 0.625rem;
  }
}
.skills-section__header span {
  background: rgb(0, 172, 157);
  color: rgb(0, 0, 0);
  line-height: 1.5rem;
}

.skills-list__item {
  list-style: "✓";
  padding-left: 0.625rem;
  margin-left: 1.25rem;
}

.skills-list__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.projects-section__m {
  margin-bottom: 1.875rem;
}

.projects-section__header {
  font-size: 1.3em;
  margin-bottom: 1.25rem;
}

.projects-section__header span {
  background: rgb(80, 210, 195);
  color: rgb(0, 0, 0);
}

.project {
  margin-left: 1.25rem;
}

.project__subtitle {
  font-size: 1.1em;
  margin-bottom: 0.625rem;
  padding-top: 0.313rem;
}

.project__name {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.project__description {
  max-width: 38rem;
  margin-bottom: 0.625rem;
}

.project__link {
  display: block;
  max-width: 11.25rem;
  color: rgb(61, 222, 251);
  transition: all 0.3s ease 0s;
  margin-bottom: 0.625rem;
}

.project__link:hover {
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.responibility-list {
  margin-left: 0.625rem;
}

.responibility-list__item {
  list-style: "‒";
  padding-left: 0.625rem;
}

.responibility-list__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.personal-qualities-section {
  display: flex;
  flex-direction: column;
}

.personal-qualities-section__m {
  margin-bottom: 1.875rem;
}

.personal-qualities-section__header {
  font-size: 1.3em;
  margin-bottom: 1.25rem;
}

@media (max-width: 40.8em) {
  .personal-qualities-section__header {
    margin-bottom: 0.625rem;
  }
}
.personal-qualities-section__header span {
  background: rgba(55, 195, 230, 0.769);
  color: rgb(0, 0, 0);
  line-height: 1.5rem;
}

.personal-qualities-section__list {
  padding-left: 0.625rem;
}

.personal-qualities-section__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.expectations-section {
  display: flex;
  flex-direction: column;
}

.expectations-section__m {
  margin-bottom: 1.875rem;
}

.expectations-section__header {
  font-size: 1.3em;
  margin-bottom: 1.25rem;
}

@media (max-width: 40.8em) {
  .expectations-section__header {
    margin-bottom: 0.625rem;
  }
}
.expectations-section__header span {
  background: rgba(176, 206, 203, 0.769);
  color: rgb(0, 0, 0);
  line-height: 1.5rem;
}

.expectations-section__list {
  padding-left: 0.625rem;
}

.expectations-section__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.languages-section {
  display: flex;
  flex-direction: column;
}

.languages-section__header {
  font-size: 1.3em;
  margin-bottom: 0.938rem;
}

@media (max-width: 53.125em) {
  .languages-section__header {
    margin-bottom: 0.625rem;
  }
}
.languages-section__header span {
  background: rgba(112, 192, 179, 0.953);
  color: rgb(0, 0, 0);
}

.languages-section__item {
  padding-left: 0.625rem;
}

.languages-section__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.experiences-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experiences-section__m {
  margin-bottom: 1.875rem;
}

.experiences-section__header {
  font-size: 1.3em;
  margin-bottom: 1.25rem;
}

.experiences-section__header span {
  background: rgb(8, 216, 136);
  color: rgb(0, 0, 0);
}

.experiences-section__item {
  display: flex;
  flex-direction: column;
}

.experiences-section__experience-list {
  padding-left: 0.625rem;
}

.experience-list__m {
  margin-bottom: 1.25rem;
}

.experience-list__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.experience-list__durability {
  padding-left: 0.625rem;
  font-style: italic;
}

.experience-list__name {
  color: rgb(9, 137, 201);
  font-size: 1.2rem;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.experience-list__name:hover {
  transform: translate(0.625rem);
  transition: all 0.3s ease 0s;
}

.text-decoration:hover {
  text-decoration: underline;
}

.experience-list__role {
  padding-left: 0.625rem;
}

@media (max-width: 53.125em) {
  .experiences-section__header {
    margin-bottom: 0.625rem;
  }
  .experience-list__m {
    margin-bottom: 0.625rem;
  }
}
.education-section {
  display: flex;
  flex-direction: column;
}

.education-section__m {
  margin-bottom: 1.875rem;
}

.education-section__header {
  font-size: 1.3em;
  margin-bottom: 1.25rem;
}

@media (max-width: 53.125em) {
  .education-section__header {
    margin-bottom: 0.625rem;
  }
}
.education-section__header span {
  background: rgb(68, 184, 136);
  color: rgb(0, 0, 0);
}

.education-section__item {
  padding-left: 0.625rem;
}

.education-section__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.courses__name {
  margin-bottom: 0.625rem;
}

.university__name {
  line-height: 20px;
}

.school__name {
  line-height: 20px;
}

.courses__sertificate {
  display: inline-block;
  color: rgb(61, 222, 251);
  transition: all 0.3s ease 0s;
}

.courses__sertificate:hover {
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

.durability {
  display: block;
  font-style: italic;
  margin-bottom: 0.625rem;
}

.university__name {
  margin-bottom: 0.625rem;
}