$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$bg-color: rgb(8, 67, 72);
$selection: rgb(16, 187, 187);
$main-content: rgb(11, 29, 38);
$sub-header: rgb(16, 187, 187);
$header: rgb(233, 144, 10);
$hover: rgb(0, 212, 212);
$link: rgb(61, 222, 251);
$dark-link: rgb(9, 137, 201);
$skill-title: rgb(0, 172, 157);
$projects-title: rgb(80, 210, 195);
$personal-qualites-title: rgba(55, 195, 230, 0.769);
$languages-title: rgba(112, 192, 179, 0.953);
$hobbies-title: rgb(55, 129, 107);
$experiences-title: rgb(8, 216, 136);
$education-title: rgb(68, 184, 136);
