.hobbies-section__m {
  margin-bottom: 1.875rem;
}

.hobbies-section__header {
  font-size: 1.3em;
  margin-bottom: 1.25rem;
}

@media (max-width: 53.125em) {
  .hobbies-section__header {
     margin-bottom: 0.625rem;
  }
}

.hobbies-section__header span {
  background: $hobbies-title;
  color: $black;
}

.hobbies-section__list {
  margin-left: 0.625rem;
}

.hobbies-section-list {
  @include flexbox();
  flex-direction: column;
}

.hobbies-section-list__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
